* {
  outline: 1px solid red !important;
}

.btn__hidden-mobile {
  display: none;
}

.background-content--low {
  background-color: var(--color-bg-canvas-lowest);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 0;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  background-color: var(--c-sky-300);
  border-radius: 9999px;
  vertical-align: middle;
}

.icon-accent__sky-300 {
  color: var(--c-sky-300);
}

.icon-accent__sky-400 {
  color: var(--color-accent-primary);
}

.icon-accent__emerald-500 {
  color: var(--color-status-success);
}

.hero__image-wrapper {
  position: relative;
}

.hero__image-wrapper::before {
  content: "";
  position: absolute;
  inset: -20%;
  background: radial-gradient(circle, rgb(56 189 248 / 8%), transparent 70%);
  filter: blur(120px);
  z-index: -1;
}

@media (width >= 64rem) {
  .btn__hidden-mobile {
    display: inherit;
  }
}
