/* * {
  outline: 1px solid red !important;
} */

.u-uppercase {
  text-transform: uppercase;
}

.u-text-gradient {
  color: var(--color-accent-primary);
}

@supports (background-clip: text) {
  .u-text-gradient {
    background: linear-gradient(to left, #f8fafc, #38bdf8 50%, #87ceeb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.u-text-accent {
  color: var(--color-accent-text);
  font-weight: 600;
}

.u-text-underline {
  color: var(--color-text-primary);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--color-accent-text);
  text-underline-offset: 0.2rem;
}

.u-hidden-mobile {
  display: none;
}

.icon-accent--secondary {
  color: var(--color-accent-text);
}

.icon-accent--primary {
  color: var(--color-accent-primary);
}

.icon-accent--success {
  color: var(--color-status-success);
}

.hero__image-wrapper {
  position: relative;
  z-index: 0;
}

.hero__image-wrapper::before {
  content: "";
  position: absolute;
  inset: -20%;
  background: radial-gradient(circle, rgb(56 189 248 / 8%), transparent 70%);
  filter: blur(120px);
  z-index: -1;
}

.u-hover-accent:hover {
  color: var(--color-accent-text);
  background-color: var(--color-btn--secondary-bg--hover);
}

.u-hover-accent .social-networks__body {
  color: inherit;
}

.u-hover-accent--primary:hover {
  color: var(--color-accent-primary);
  background-color: var(--color-btn--secondary-bg--hover);
}

.u-hover-accent--primary .social-networks__body {
  color: inherit;
}

:where(a, button, [tabindex]):focus-visible {
  outline: 2px solid var(--color-accent-primary);
  outline-offset: 2px;
}

@media (width >= 64rem) {
  .u-hidden-mobile {
    display: flex;
  }
}
