.site-header {
  font-size: var(--font-size-topnav);
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1.2rem 2rem;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__item {
  font-weight: 600;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--color-accent-primary--hover);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-primary);
    outline-offset: 2px;
  }
}
