.site-header {
  font-size: var(--font-size-topnav);
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-section-compact);
  padding: var(--space-lg) var(--space-xl);
  flex-wrap: wrap;
}

.site-header__nav--list {
  display: flex;
  gap: var(--space-content);
}

.nav--list__link {
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-accent-primary--hover);
  }
}
