:root {
  --gutter: var(--space-page-gutter); /* 16px — mobile */
}

@media (width >= 40rem) {
  :root {
    --gutter: var(--space-page-gutter-tablet); /* 24px — tablet */
  }
}

@media (width >= 64rem) {
  :root {
    --gutter: var(--space-page-gutter-desktop); /* 32px — tablet/desktop */
  }
}

.wrapper {
  max-width: min(calc(100% - var(--gutter) * 2), 72rem);
  margin-inline: auto;
}

section + section {
  margin-top: var(--space-section);
}

main > section:first-child {
  margin-top: var(--space-section); /* o el valor que uses respecto al header */
}

main > section:last-child {
  margin-bottom: var(--space-section); /* o el valor respecto al footer */
}

.hero__grid,
.content__grid,
.social-networks__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-content-group);
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-content-group);
}

.hero__grid {
  overflow: hidden;
}

.hero__copy,
.hero__visual,
.about__content,
.about__skills,
.social-networks__content,
.social-networks__form {
  grid-column: 1 / -1; /* Mobile y Tablet: columna completa por defecto */
}

@media (width >= 40rem) {
  .hero__grid,
  .content__grid,
  .social-networks__grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .card__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 64rem) {
  .hero__grid,
  .content__grid,
  .card__grid,
  .social-networks__grid {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: var(--space-xl);
  }

  .card__grid {
    align-items: initial; /* para que las cards no se estiren verticalmente */
  }

  .hero__copy {
    grid-column: span 7; /* sobreescribe el 1/-1 solo aquí */
  }

  .hero__visual {
    grid-column: span 5;
  }

  .about__content {
    grid-column: span 6;
  }

  .about__skills {
    grid-column: span 6;
  }

  .card {
    grid-column: span 4;
  }

  .social-networks__content {
    grid-column: span 6;
  }

  .social-networks__form {
    grid-column: span 6;
  }
}
