.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

.tag {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-surface);
  color: var(--color-text-secondary);
  font-weight: 600;
}
