.surface-card {
  background-color: var(--color-bg-canvas-lowest);
  padding: var(--space-content);
  border-radius: var(--radius-avatar);
  margin-top: var(--space-content-group);
}

.surface--low {
  background-color: var(--color-bg-surface-low);
}
