main {
  background-color: var(--color-bg-canvas-layer);
}

.site-header__logo--image {
  width: 100%;
  height: auto;
}

.hero__visual {
  order: -1;
}

.hero__title {
  margin-bottom: var(--space-content-group);
}

.hero__role {
  font-size: var(--fs-18);
  margin: 0;
}

.hero__eyebrow {
  color: var(--color-text-primary);
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: var(--fs-14); /* USE: Semantic typography token ? */
  border-radius: var(--radius-pill);
  width: fit-content;
  padding: var(--space-xs) var(--space-sm);
}

.hero__badge {
  position: absolute;
  bottom: 0rem;
  left: 8rem;
  color: var(--color-text-primary);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-pill);
  font-size: var(--fs-14);
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid #10b9814d;
  background-color: #0f172a99;
}

.hero__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-card);
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-component);
}

.social-networks__item {
  display: flex;
  align-items: center;
  gap: var(--space-component);
  width: 100%;
  border-radius: var(--radius-default);
  padding: var(--space-lg);
  margin-bottom: var(--space-content-group);
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 0;
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1.4rem;
  margin-right: var(--space-inline);
  background-color: var(--c-sky-300);
  border-radius: var(--radius-pill);
  vertical-align: middle;
}

.social-networks__icon {
  padding: var(--space-inline);
  border-radius: var(--radius-default);
  background-color: var(--color-bg-canvas);
}

.social-networks__body {
  color: var(--color-text-primary);
  font-weight: 700;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-networks__body--label {
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: var(--fs-14);
}

.footer {
  padding: var(--space-content-group);
}

@media (width >= 64rem) {
  .hero__visual {
    order: 0;
  }

  .hero__buttons {
    display: flex;
    gap: var(--space-sm);
    margin-top: var(--space-xl);
    flex-direction: row;
  }
}
