@charset "UTF-8";

/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/

/* Reset Custom Properties */
:root {
  --black: #393939;
  /* Tipografía */
  --primary-text: Helvetica, Arial, sans-serif;
  --secondary-text: Verdana;
}

/* Box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin
*:not(dialog) {
  margin: 0;
} */

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-bg);
  color: var(--color-primary--text);
  line-height: 1.5; /* Increase line-height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.1;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
