/* ==========================================
   CSS VARIABLES
   ========================================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #0f172a;
  --color-primary--text: #f8fafc;
  --color-secondary--text: #94a3b8;
  --color-element: #38bdf8;
  --color-bg--nav: #d9d9d922;
  /* Tipografía */
  --primary-font: "Poppins", sans-serif;
}

/* ==========================================
   TYPOGRAPHY
   Jerarquía y estilos de texto.
   ========================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-weight: 400;
  color: var(--color-secondary--text);
}

.title {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 800;
}

.sub-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-wrap: balance;
}

.text-description {
  margin-top: 1.2rem;
  line-height: 1.8;
}

/* ==========================================
   LAYOUT
   Contenedores, grids y espaciado.
   ========================================== */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container--spacing {
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

/* ==========================================
   COMPONENTS
   Botones, tarjetas, navbar, formularios.
   ========================================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1.2rem;
  background-color: var(--color-bg--nav);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 4.6rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: var(--color-primary--text);
  background-color: var(--color-element);
}
/* ==========================================
   SECTIONS
   Hero, About, Services, Footer.
   ========================================== */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  min-height: 100vh;
}

/* ==========================================
   UTILITIES
   Clases auxiliares reutilizables.
   ========================================== */

/* ==========================================
   MEDIA QUERIES
   ========================================== */
/* En Laptops (más de 1200px de pantalla) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; /* Estándar clásico */
  }
}
