@import url("./normalize.css") layer(reset);

@layer global, components, utilities;

@layer global {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    --font-size-topnav: var(--fs-14);
    --font-size-h1: var(--fs-42);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-topnav: var(--fs-16);
      --font-size-h1: var(--fs-72);
      --font-size-h2: var(--fs-48);
      --font-size-h3: var(--fs-36);
    }
  }

  /* Colors */
  :root {
    --c-steel-blue: #0f172a;
    --c-whithe: #ffffff;
    --c-slate-gray: ##708090;
    --c-sky-blue: #87ceeb;
    --c-dark-gray: #a9a9a9;

    --color-main-bg: var(--c-steel-blue);
    --color-primary--text: var(--c-whithe);
    --color-secondary--text: var(--c-slate-gray);
    --color-element: var(--c-sky-blue);
    --color-bg--nav: var(--c-dark-gray);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  h3 {
    font-size: var(--font-size-h3);
  }

  p {
    font-weight: 400;
    color: var(--color-secondary--text);
  }

  .title {
    font-size: 4rem;
    font-weight: 800;
  }

  .sub-title {
    font-size: 2.2rem;
    font-weight: 800;
    text-wrap: balance;
  }

  .text-description {
    margin-top: 1.2rem;
    line-height: 1.8;
  }

  .wrapper {
    max-width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }

  .grid-layout-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    /* align-items: center; duda respecto a posicionamiento img */
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* align-items: center; duda respecto a posicionamiento img */
  }

  .container--spacing {
    margin-block: 4rem;
  }

  .hero {
    min-height: 70vh;
  }
}

@layer components {
  header {
    background-color: var(--color-bg--nav);
    font-size: var(--font-size-topnav);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 1.2rem 2rem;
  }

  .header__menu {
    display: flex;
    align-items: center;
    gap: 4.6rem;
    border-color: #f8fafc;
  }

  .btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary--text);
    background-color: var(--color-element);
  }

  .card {
    background-color: var(--color-bg--nav);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 445px;
    height: 601px;
  }

  .card_image {
    width: 100%;
    min-height: 489px;
    border-radius: 1rem;
    object-fit: cover;
  }

  .image__profile {
    height: 100%;
    border-radius: 1rem;
  }

  .hero__buttons {
    margin-top: 2rem;
  }

  .about__image {
    background:
      url(../assets/images/image_about.png) center / 90% no-repeat,
      linear-gradient(to left, #1f6fbf, #3aa0f3);
    min-height: 600px;
    flex: 1;
    border-radius: 1rem;
  }

  .about__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
}

@layer utilities {
  .fix-this {
    all: unset;
  }
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

/* En Laptops (más de 1200px de pantalla) */
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    /* Estándar clásico */
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1480px;
    /* Estándar clásico */
  }
}
